<div>
    <%= radio_button "incoming_message", "described_state", "unsatisfactory_response", :id => 'unsatisfactory_response' + id_suffix %>
    <label for="unsatisfactory_response<%=id_suffix%>"><%= _('Authority has provided an <strong>unsatisfactory response</strong>') %></label>
</div>
