<strong>
<ul style="list-style-type: none; line-height: 2">  <!-- This whole page is very hacky -->
    <li>
        <a href="https://twitter.com/#!/sindova">Sindo Varela</a>
    </li>
    <li>
        <a href="http://www.gutierrez-rubi.es">Antoni Gutiérrez Rubí</a> - <a href="https://twitter.com/antonigr">@antonigr</a>
    </li>
    <li>
        <a href="http://www.ezaromedia.com/">EzaroMedia</a>
    </li>
    <li>
        <a href="http://franciscopolo.com">Francisco Polo</a> - <a href="https://twitter.com/franciscopolo">@franciscopolo</a>
    </li>
    <li>
        <a href="http://www.ideasforchange.com/">Ideas For Change</a>
    </li>
    <li>
        <p><%= link_to_unless_current "...y 150 personas más", help_credits_path %></p>
    </li>
</ul>
</strong>

<a href="http://www.ezaromedia.com/" style="margin-left: 60px; float: left"><img src="/tuderechoasaber-theme/images/sponsors/ezaromedia.jpg"/></a>
<a href="http://www.ideasforchange.com/" style="margin-left: 60px; float: left"><img src="/tuderechoasaber-theme/images/sponsors/IdeasforChange.png"/></a>
<div style="clear:both"></div>
