<% @title = "Basat en Alaveteli" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Basat en Alaveteli</h1>
    <p>Aquest lloc web funciona gràcies a <a href="http://www.alaveteli.org">Alaveteli</a>, un programari lliure que permet fer sol·licituds d'informació pública (el que es coneix en anglès com FOI - Freedom of Information o ATI - Access to Information). El programari està originalment en anglès però es pot traduir fàcilment a qualsevol idioma.</p>
    <p>Alaveteli va ser desenvolupat inicialment per l'organització britànica <a href="http://www.mysociety.org">mySociety</a> i ha estat millorat per facilitar el seu ús a nivell internacional. <a href="http://informatazyrtare.org/">Kosovo</a>, <a href="http://www.pravodaznam.ba/bs">Bòsnia</a>, <a href="http://queremossaber.org.br">Brasil</a> i <a href="http://www.asktheeu.org">la Unió Europea</a> ja tenen els seus propis portals basats en aquest programari.</p>
    <p>El desenvolupament d'Alaveteli ha comptat amb el patrocini de diferents fundacions i organitzacions benèfiques interessades en la transparència. La versió de tuderechoasaber.es ha estat construïda gràcies a les aportacions rebudes a través de la plataforma de crowdfunding <a href="http://www.goteo.org/project/tuderechoasaber.es">Goteo</a> i a <%= link_to "una sèrie de patrocinadors", help_about_path(:anchor => 'supporters') %>.</p>

    <h2>T’agradaria adaptar Alaveteli al teu país?</h2>
    <p>Si vols crear una web Alaveteli al teu país podem ajudar-te. Només necessites:
        <ul>
            <li>Un programador. El lloc web es pot configurar en pocs dies.</li>
            <li>Un expert en accés a la informació que t'assessori sobre com funciona aquest dret al teu país.</li>
            <li>Un moderador. Hauràs de dedicar unes hores a la setmana a moderar i administrar la pàgina.</li>
        </ul>
    </p>
    <p>Per a més informació, consulta <a href="http://alaveteli.org">la web d'Alaveteli</a>, o <a href="mailto:contacto@tuderechoasaber.es">escriu un correu a l'equip de tuderechoasaber.es</a>.</p>
</div>
