<% @title = "Basado en Alaveteli" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Basado en Alaveteli</h1>
    <p>Este sitio web funciona gracias a <a href="http://www.alaveteli.org">Alaveteli</a>, un software de código abierto que permite realizar solicitudes de información pública (lo que se conoce en inglés como FOI – Freedom of Information – o ATI – Access to Information). El software está originalmente en inglés pero puede traducirse fácilmente a cualquier idioma y ser adaptado a las variaciones de las leyes de cada país.</p>
    <p>Alaveteli fue desarrollado inicialmente por la organización británica <a href="http://www.mysociety.org">mySociety</a> a partir de la web original <a href="http://www.whatdotheyknow.com">What Do They Know?</a>, y ha sido mejorado para facilitar su uso a nivel internacional. <a href="http://informatazyrtare.org/">Kosovo</a>, <a href="http://www.pravodaznam.ba/bs">Bosnia</a>, <a href="http://queremossaber.org.br">Brasil</a> y <a href="http://www.asktheeu.org">la Unión Europea</a> ya tienen sus propios portales con este software.</p>
    <p>El desarrollo de Alaveteli ha contado con el patrocinio de diferentes fundaciones y organizaciones benéficas interesadas en la transparencia. La versión para España, tuderechoasaber.es, ha sido construida gracias a las aportaciones recibidas a través de la plataforma de crowdfunding <a href="http://www.goteo.org/project/tuderechoasaber.es">Goteo</a> y a <%= link_to "una serie de patrocinadores", help_about_path(:anchor => 'supporters') %>.</p>

    <h2>¿Te gustaría adoptar Alaveteli en tu país?</h2>
    <p>Si quieres crear una web Alaveteli en tu  país podemos ayudarte. Sólo necesitas:
        <ul>
            <li>Un programador. El sitio web puede ser configurado en pocos días.</li>
            <li>Un experto en acceso a la información que te asesore sobre cómo funciona este derecho en tu país.</li>
            <li>Un moderador: tendrás que dedicar unas horas a la semana a moderar y administrar la web.</li>
        </ul>
    </p>
    <p>Para más información, consulta <a href="http://alaveteli.org">la web de Alaveteli</a>, o <a href="mailto:contacto@tuderechoasaber.es">escribe un correo al equipo de tuderechoasaber.es</a>.</p>
</div>
