<% @title = "Baseado en Alaveteli" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Baseado en Alaveteli</h1>
    <p>Este sitio web funciona gracias a <a href="http://www.alaveteli.org">Alaveteli</a>, un software libre que permite realizar solicitudes de información pública (o que se coñece en inglés como FOI – Freedom of Information ou ATI – Access to Information). O software está orixinalmente en inglés pero pode traducirse doadamente a calquera idioma.</p>
    <p>Alaveteli foi desenvolvido inicialmente pola organización británica <a href="http://www.mysociety.org">mySociety</a> e foi mellorado para facilitar o seu uso a nivel internacional. <a href="http://informatazyrtare.org/">Kosovo</a>, <a href="http://www.pravodaznam.ba/bs">Bosnia</a>, <a href="http://queremossaber.org.br">Brasil</a> e <a href="http://www.asktheeu.org">a Unión Europea</a> xa teñen os seus propios portais baseados neste software.</p>
    <p>O desenvolvemento de Alaveteli contou co patrocinio de diferentes fundacións e organizacións benéficas interesadas na transparencia. A versión de tuderechoasaber.es foi construída grazas ás aportacións recibidas a través da plataforma de crowdfunding <a href="http://www.goteo.org/project/tuderechoasaber.es">Goteo</a> e a <%= link_to "unha serie de patrocinadores", help_about_path(:anchor => 'supporters') %>.</p>

    <h2>¿Gustaríache adaptar Alaveteli no teu país?</h2>
    <p>Se queres crear unha web Alaveteli no teu país podemos axudarche. Só precisas:
        <ul>
            <li>Un programador. O sitio web pode ser configurado en poucos días.</li>
            <li>Un experto en acceso á información que te asesore sobre como funciona este dereito no teu país.</li>
            <li>Un moderador. Terás que adicar unhas horas á semana a moderar e administrar a páxina.</li>
        </ul>
    </p>
    <p>Para máis información, consulta <a href="http://alaveteli.org">a web de Alaveteli</a>, ou <a href="mailto:contacto@tuderechoasaber.es">escrebe un correo ó equipo de tuderechoasaber.es</a>.</p>
</div>
