<% @title = "Alaveteli-n oinarrituta" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Alaveteli-n oinarrituta</h1>
    <p>Web gune honek <a href="http://www.alaveteli.org">Alaveteli</a> programari esker funtzionatzen du, informazio publikoaren eskabideak egiteko aukera ematen duen software librea (ingelesez FOI – Freedom of Information edo ATI – Access to Information bezala ezagutzen den ekimena). Softwarea jatorriz ingelesez dago, baina edozein hizkuntzetara itzul daiteke oso erraz.</p>
    <p>Hasiera batean Alaveteli <a href="http://www.mysociety.org">mySociety</a> elkarte britainiarrak garatu zuen eta erabilpena nazioarteko mailan errazteko hobetuta dago. <a href="http://informatazyrtare.org/">Kosovok</a>, <a href="http://www.pravodaznam.ba/bs">Bosniak</a> eta <a href="http://www.asktheeu.org">la Unión Europea</a> badute software honetan oinarritzen den atari propioa. Alaveteliren garapenak gardentasunean interesatuta dauden zenbait fundazio eta etekinik gabeko erakuderen laguntza izan du.</p>
    <p>tuderechoasaber.es bertsioa crowdfunding <a href="http://www.goteo.org/project/tuderechoasaber.es">Goteo</a> plataformatik jaso diren laguntzei eta <%= link_to "zenbait babesleen diru-laguntzei esker eraiki da", help_about_path(:anchor => 'supporters') %> (babesleen esteka).</p>

    <h2>Alaveteli moldatu nahi izango zenuke zure herrialdean?</h2>
    <p>Zure herrialdean Alaveteli web bat sortu nahi izanez gero, lagundu ahal zaitugu. Hauxe behar duzu:
        <ul>
            <li>Programatzaile bat. WEbgunea egun gutxitan konfigura daiteke.</li>
            <li>Informaziorako sarbidean aditua den norbait, zure herrialdean eskubide honek dituen ezaugarriak argitu ahal dizkizu.</li>
            <li>Moderatzaile bat. Astean hainbat ordu sartu beharko duzu orrialde administratzen eta moderatzen.</li>
        </ul>
    </p>
    <p>Informazio gehiago nahi baduzu, kontsulta ezazu <a href="http://alaveteli.org">Alaveteliko orrialdea</a>, edo <a href="mailto:contacto@tuderechoasaber.es">idatz iezaiozu email bat tuderechoasaber.es-eko taldeari</a>.</p>
</div>
