<% @title = "Credits" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Credits</h1>
    <p>Special thanks for those who contributed to the tuderechoasaber.es website, including:
        <ul>
            <li</li>
        </ul>
    </p>
</div>